/* iCheck plugin Square skin, blue
----------------------------------- */
.icheckbox_square-blue,
.iradio_square-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

.col-md-5>.form-group>input, .col-md-5>.form-group>select{
	width: 30%;
}

.col-md-5>.form-group>label{
	width: 40%;
}



#login-btn{
	padding: 7% 165%;
	width: auto;
}

#loginLogo{
    width: 60%;
    height: auto;
    margin: 5% 20%;
}

#imgBack{
	background-color: #d2d6de;
}

#header{
  background: #1976d2;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}
#department_header{
  background: #0d47a1;
  color: #ffffff;
  text-align: center;
}
#header2{
  background: #0d47a1;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  width: 50%;
  left: 25%;
  height: 30px;
  position: relative;
  padding-top: 5px;
}
#cols{
  text-align: center;
}
#login{
  float: right;
  margin-right: 30px;
  margin-bottom: 10px;
}
#planta-telefonica{
  width: 50%;
  left: 25%;
  position: relative;
}
#container{
  width: 90%;
  left: 5%;
}
#table{
  width: 100%;
}
#tdPlanta{
    text-align: center;
}
#banner{
  background: #455a64;
  color: #fff;
  margin: 0px;
  padding: 10px;
  font-weight: bold;
  box-shadow: 1px 5px 15px #888888;
}

#nav-right{
	margin-right: 0px;
}

#drop-toggle{
	padding: 4px;
    margin-top: 5px;
    margin-right: 10px;
}

.nav>li>a:hover{
  		color : #fff;
   		background:#455a64;
 }
 .nav>li>a:focus{
 		color : #3c8dbc;
 		background :#455a64;
}
 .nav>li>a:active{
 		color : #fff;
 		background:#455a64;
}

h2{
  margin: 0px;
}
#logout{
    float: right;
    margin: 10px;
}

#add-user{
    float: left;
    margin: 10px;
}

#btnAdd{
    float: right;
    display: inline-block;
    position: relative;
    margin: 0px 5% 20px 0px;
	color: #fff;
}

.dropdown-menu{
	padding: 0px;	
}

#btnDeleted{
    float: right;
    display: inline-block;
    position: relative;
    margin: 0px 10px 20px 0px;
	color: #fff;
}

#btnAdmins{
    float: left;
    display: inline-block;
    position: relative;
    margin: 0px 0px 20px 5%;
	color: #fff;
}

#btns{
	width:0px;
}

td{
	text-align: center;
}

.icheckbox_square-blue {
    background-position: 0 0;
}
    .icheckbox_square-blue.hover {
        background-position: -24px 0;
    }
    .icheckbox_square-blue.checked {
        background-position: -48px 0;
    }
    .icheckbox_square-blue.disabled {
        background-position: -72px 0;
        cursor: default;
    }
    .icheckbox_square-blue.checked.disabled {
        background-position: -96px 0;
    }

.iradio_square-blue {
    background-position: -120px 0;
}
    .iradio_square-blue.hover {
        background-position: -144px 0;
    }
    .iradio_square-blue.checked {
        background-position: -168px 0;
    }
    .iradio_square-blue.disabled {
        background-position: -192px 0;
        cursor: default;
    }
    .iradio_square-blue.checked.disabled {
        background-position: -216px 0;
    }
    
    div#btnAgregar{
    	margin-left: 1000px;
    	margin-bottom: 15px;
    }
    div#row1{
		margin-top:378px;
	}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_square-blue,
    .iradio_square-blue {
        background-image: url(blue@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }

}

